@font-face {
    font-family: "SansSerifBldFLF";
    src: url("/assets/fonts/SansSerifBldFLF.ttf") format("truetype"),
         url("/assets/fonts/SansSerifFLF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.popup-overlay2-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-overlay2-admin .popup-content {
    background: #d9d9d9;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    padding: 30px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    font-family: "SansSerifFLF", sans-serif;
    position: relative;

    height: 200px;
}

.popup-overlay2-admin .popup-content h2 {
    font-size: 22px;
    background: #267065;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: -30px -40px 20px;

    font-family: "SansSerifFLF", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.popup-overlay2-admin .popup-description {
    text-align: center;
    font-size: 20px;
    color: #3F4254;
    /* margin-bottom: 10px; */

    font-family: "SansSerifFLF", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.popup-overlay2-admin .popup-description::after {
    /* content: "Untuk melakukan layanan booking online anda harus login kembali"; */
    display: block;
    font-weight: normal;
    font-size: 17px;
    margin-top: 10px;
    color: #3F4254;
}

.popup-overlay2-admin .popup-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: absolute;
    bottom: 30px;
    width: 90%;
}

.popup-overlay2-admin .popup-button {
    width: 120px;
    padding: 12px 0;
    font-size: 18px;
    font-family: inherit;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid;
    transition: 0.3s ease;
}

.popup-overlay2-admin .popup-button.cancel {
    border-color: #B4374B;
    color: #B4374B;
    background: #d9d9d9;
}

.popup-overlay2-admin .popup-button.cancel:hover {
    background: #B4374B;
    color: #d9d9d9;
}

.popup-overlay2-admin .popup-button.confirm {
    border-color: #38AB97;
    color: #38AB97;
    background: #d9d9d9;
}

.popup-overlay2-admin .popup-button.confirm:hover {
    background: #38AB97;
    color: #d9d9d9;
}
