@font-face {
  font-family: "SansSerifBldFLF";
  src: url("/src/components/fonts/SansSerifBldFLF.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SansSerifFLF";
  src: url("/src/components/fonts/SansSerifFLF.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%; /* Atau 1440px jika ingin lebar tetap */
  max-width: 1440px; 
  /* max-width: 100%; */
  height: 100vh; /* Mengisi seluruh tinggi viewport */
  margin: 0 auto; /* Agar tetap di tengah */
  background-color: aqua; /* Bisa diganti atau dihapus setelah selesai */
  padding: 0;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%; /* Pastikan tinggi html dan body mengisi layar */
  overflow-x: hidden; /* Mencegah scroll horizontal */
  overflow-y: auto; /* Mengizinkan scroll vertikal */
  margin: 0 auto;
  padding: 0;
}






/* .user-greeting {
  position: relative;
  background: #e0ffe0;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: fit-content;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.close-button {
  position: absolute;
  top: 5px;
  right: 8px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
} */


.user-greeting-fixed {
  font-family: "SansSerifFLF", sans-serif;
  font-weight: normal;
  font-style: normal;
  
  /* position: relative; */
  background: #e0ffe0;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: fit-content;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;

  position: fixed;
  top: 30px;
  left: 50%;    
  transform: translateX(-50%); 
  /* background: none;  */
  /* padding: 0; */
  /* margin: 0; */
  color: #333;
  z-index: 1000;
  text-align: right;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.user-greeting-fixed .a {
  text-align: left;
}