.hal4 {
    background-color: #ecfcf7;
    padding: 24px;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .hal4 p {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
  }
  
  .btn-konfirmasi {
    margin-top: 20px;
    background: white;
    border: 1.8px solid #2fb087;
    color: #2fb087;
    padding: 8px 22px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
    width: 150px;
  }
  
  .btn-konfirmasi:hover {
    background-color: #2fb087;
    color: white;
  }
  