@font-face {
     font-family: "SansSerifBldFLF";
     src: url("/src/components/fonts/SansSerifBldFLF.ttf") format("truetype"),
          url("/src/components/fonts/SansSerifFLF.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
   }
   
   .kunjungan-container {
     font-family: "SansSerifFLF", sans-serif;
     font-weight: normal;
     font-style: normal;
     background-color: #d9d9d9;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column; /* Stack atas bawah */
   }
   
   .kunjungan-container .dashboard-header {
     width: 100%;
     background-color: #d9d9d9;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;
     font-size: 14px;
     /* border-bottom: 2px solid red; */
   
     font-family: "SansSerifFLF";
     font-weight: bold;
     font-style: normal;
   }
   
   .kunjungan-container .dashboard-header h1 {
     padding: 0px;
     margin: 0px;
     color: #3F4254;
     font-size: 24px;
   }
   
   .kunjungan-container .dashboard-content {
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
     font-family: "SansSerifFLF";
     font-weight: normal;
     font-style: normal;
     
     flex: 1;
     background-color: #d9d9d9;
     font-size: 14px;
     text-align: left;
     color: #3F4254;
   }
   