.nav-left {
    width: 250px;
    height: 100vh;
    background-color: #2F3B37;
    /* padding: 20px; */
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
}

.nav-left .nav-title {
    color: #dddddd;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.nav-left .nav-list {
    list-style: none;
    padding: 0;
}

.nav-left .nav-item {
    display: flex;
    align-items: center;
    color: #dddddd;
    padding: 12px 15px;
    cursor: pointer;
    padding-left: 30px;
    /* transition: background 0.3s, border-radius 0.2s; */
    /* border-radius: 8px; */
    padding-top: 10PX;
}

.nav-left .nav-item:hover {
    background-color: #3E4C49;
}

/* Menu utama aktif hanya jika submenu aktif */
.nav-left .nav-item.active {
    background-color: #267065; /* Warna hijau */
    color: white;
    /* font-weight: bold; */
    /* border-radius: 8px; */
}

.nav-left .nav-item img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    filter: brightness(0) invert(0.87); /* This will change the image color to #dddddd */
}

.nav-left .icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
    filter: brightness(0) invert(0.87); /* This will change the image color to #dddddd */
}

.nav-left .dropdown {
    list-style: none;
    padding-left: 30px;
    background-color: #3E4C49;
    /* border-radius: 6px; */
}

/* Submenu (Pengguna, Obat, dll.) */
.nav-left .dropdown-item {
    display: flex;
    align-items: center;
    color: #dddddd;
    padding: 12px 10px;
    cursor: pointer;
    padding-left: 20px;
    /* transition: background 0.3s, border-radius 0.2s; */
    /* border-radius: 6px; */
    padding-top: 10PX;
}

.nav-left .dropdown-item:hover {
    background-color: #4A5A57;
}

/* Submenu aktif */
.nav-left .dropdown-item.submenu-active {
    background-color: #267065; /* Warna kuning */
    color: white;
    /* border-radius: 6px; */
}

/* Jika submenu aktif, menu utama tetap aktif */
.nav-left .nav-item.active {
    background-color: #236158;
    color: white;
}
