@font-face {
    font-family: "SansSerifBldFLF";
    src: url("/assets/fonts/SansSerifBldFLF.ttf") format("truetype"),
         url("/assets/fonts/SansSerifFLF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  
  .profile-popup {
    position: fixed;
    top: 50px;
    right: 80px; /* Biar sejajar kanan dengan tombol profile */
    z-index: 1001;
}

.profile-popup .profile-card {
    background: white;
    /* background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(5px); */
    
    border-radius: 12px;
    padding: 15px 15px;
    width: 250px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.profile-popup .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-popup .profile-photo {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 12px;
}

.profile-popup .profile-text h4 {
    margin: 0;
    color: #333;

    font-family: "SansSerifBldFLF", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 0.95rem;
}

.profile-popup .profile-text p {
    margin: 4px 0 0 0;
    color: #777;

    font-family: "SansSerifBldFLF", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 0.95rem;
}

.profile-popup .profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.profile-popup .btn-edit, .btn-logout {
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    padding: 8px 25px;
    border-radius: 8px;
    cursor: pointer;

    font-family: "SansSerifFLF", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 0.95rem;
}

.profile-popup .icon {
    padding-right: 10px;
}

.profile-popup .btn-edit {
    background-color: #47BE7D;
    color: white;
}

.profile-popup .btn-logout {
    background-color: #BF4749;
    color: white;
}

.profile-popup .btn-edit .icon, .btn-logout .icon {
    font-size: 16px;
}

.profile-popup .btn-edit:hover {
    background-color: #3da76d; /* Hijau lebih gelap */
    transition: background-color 0.3s ease;
}

.profile-popup .btn-logout:hover {
    background-color: #a83d3e; /* Merah lebih gelap */
    transition: background-color 0.3s ease;
}
