@font-face {
    font-family: "SansSerifBldFLF";
    src: url("/src/components/fonts/SansSerifBldFLF.ttf") format("truetype"),
         url("/src/components/fonts/SansSerifFLF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  /* font-family: "SansSerifBldFLF", sans-serif;
  font-size: 2.18rem;
  line-height: 1;
  font-weight: normal;
  font-style: normal; */

  .login-container {
    font-family: "SansSerifFLF", sans-serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #f3f3f3;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login-container .login-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

.login-container .logo {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.login-container h2 {
  font-family: "SansSerifFLF", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  margin: 10px 0;
  font-weight: bold;
}

.login-container h2 span {
  font-family: "SansSerifFLF", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: gray;
}

.login-container p {
  font-family: "SansSerifFLF", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #555;
  font-size: 1.3rem;
  margin-bottom: 30px;
  margin-top: 0px;
}

/* Input styling */
.login-container .input-group {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.login-container .input-group input {
  font-family: "SansSerifFLF", sans-serif;
  font-weight: normal;
  font-style: normal;
  border: none;
  outline: none;
  background: none;
  flex: 1;
  padding: 8px;
  font-size: 0.95rem; 
  color: #555;
  /* background-color: #ECFCF7; */
}

.login-container .input-icon {
  width: 12px;
  height: auto;
  margin-right: 10px;
  filter: invert(33%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
}

/* Button styling */
.login-container .button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-container button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container .register-btn {
  font-family: "SansSerifFLF", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 0.95rem; 
  background: white;
  color: #309584;
  border: 1px solid #309584;
  margin-right: 10px;
}

.login-container .register-btn:hover {
  background: #309584;
  color: white;
}

.login-container .login-btn {
  font-family: "SansSerifFLF", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 0.95rem; 
  background: #309584;
  color: white;
}

.login-container .login-btn:hover {
  background: #38AB97;
}

/* Style untuk teks 'Lanjutkan sebagai Guest' */
.login-container .guest-text {
  font-size: 0.95rem; 
  margin-top: 15px;
  color: #309584;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.3s;
  display: inline-block;
  white-space: nowrap;
}

.login-container .guest-text:hover {
  color: #38AB97;
}







/* CSS Spinner */
.loading-spinner {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
